<nav
  class="flex items-center justify-between flex-wrap bg-[#1c1917] p-6 sticky top-0 z-50"
>
  <div class="flex items-center text-white mt-6 mb-6">
    <a href="#" routerLink="/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="54px"
        height="54px"
        viewBox="0 0 100 100"
      >
        <path
          d="M 30 50
            a 1 1 1 0 1 40 0
            h-12.5
            a 1 1 1 0 0 -15 0
            z"
          fill="red"
          stroke="#222"
        ></path>
        <circle cx="50" cy="50" r="7" fill="white" stroke="#222"></circle>
        <path
          d="M 30 50
            a 1 1 1 0 0 40 0
            h-12.5
            a 1 1 1 0 1 -15 0
            z"
          fill="white"
          stroke="#222"
        ></path>
      </svg>
      <span class="font-semibold text-xl tracking-tight"
        >Pokedex (a working progress 😊)</span
      >
    </a>
  </div>
  <div class="flex items-center w-full md:w-auto">
    <input
      type="text"
      placeholder="Search..."
      (input)="search()"
      [(ngModel)]="searchTerm"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
    <button (click)="search()" (keyup.enter)="search()">Search!</button>
  </div>
</nav>
