.pokemon-type-all {
  background-color: #000000;
}

.pokemon-type-fire {
  background-color: #f45545;
}

.pokemon-type-water {
  background-color: #558bcf;
}

.pokemon-type-grass {
  background-color: #589f43;
}

.pokemon-type-poison {
  background-color: #6c4294;
}

.pokemon-type-flying {
  background-color: #e3c066;
}

.pokemon-type-normal {
  background-color: #bd8d41;
}

.pokemon-type-bug {
  background-color: #acbe16;
}

.pokemon-type-electric {
  background-color: #f3be1f;
}

.pokemon-type-ground {
  background-color: #796444;
}

.pokemon-type-dragon {
  background-color: #a485c2;
}

.pokemon-type-psychic {
  background-color: #ee86a5;
}

.pokemon-type-fairy {
  background-color: #bf6481;
}

.pokemon-type-ice {
  background-color: #64aff5;
}

.pokemon-type-rock {
  background-color: #3b3426;
}

.pokemon-type-fighting {
  background-color: #915656;
}

.pokemon-type-steel {
  background-color: #949494;
}

.pokemon-type-ghost {
  background-color: #75577d;
}
