.pokemon-type-fire {
    background-color: #F45545;
}

.pokemon-type-water {
    background-color: #558BCF;
}

.pokemon-type-grass {
    background-color: #589F43;
}

.pokemon-type-poison {
    background-color: #6c4294;
}

.pokemon-type-flying {
    background-color: #E3C066;
}

.pokemon-type-normal {
    background-color: #bd8d41;
}

.pokemon-type-bug {
    background-color: #acbe16;
}

.pokemon-type-electric {
    background-color: #F3BE1F;
}

.pokemon-type-ground {
    background-color: #796444;
}

.pokemon-type-dragon {
    background-color: #A485C2;
}

.pokemon-type-psychic {
    background-color: #EE86A5;
}

.pokemon-type-fairy {
    background-color: #BF6481;
}

.pokemon-type-ice {
    background-color: #64AFF5;
}

.pokemon-type-rock {
    background-color: #3B3426;
}

.pokemon-type-fighting {
    background-color: #915656;
}

.pokemon-type-steel {
    background-color: #949494;
}

.pokemon-type-ghost {
    background-color: #75577D;
}
